div(ng-include='"components/navbar/navbar.html"')

div(ng-repeat="release in releases")
	a(ng-click="goToReleasePage(release.basic_information.id)")
		img(ng-src="{{release.basic_information.thumb}}")
		p {{release.basic_information.title}}
